//
// Files
//

// Header
$body-bg-image: url(../images/body-bg-image.png);

$home-icon: url(../images/home-icon.png);
$heart-icon: url(../images/heart-icon.png);
$person-icon: url(../images/person-icon.png);
$group-icon: url(../images/group-icon.png);

$logo: url(../images/logo.png);
$header-bg-image: url(../images/header-bg-image.png);
$search-icon: url(../images/search-icon.png);
$lock-icon: url(../images/lock-icon.png);

$menu-dropdown-icon: url(../images/menu-dropdown-icon.png);
$breadcrumb-delimeter: url(../images/breadcrumb-delimeter.png);

// Slider
$slider-counter: url(../images/slider-counter.png);
$slider-counter-active: url(../images/slider-counter-active.png);

// Content
$star-icon: url(../images/star-icon.png);
$suitcase-icon: url(../images/suitcase-icon.png);
$news-icon-1-with-bg: url(../images/news-icon-1-with-bg.png);
$news-icon-2-with-bg: url(../images/news-icon-2-with-bg.png);
$three-dots-icon: url(../images/three-dots-icon.png);

// Footer
$arrow-up-icon-with-bg: url(../images/arrow-up-icon-with-bg.png);
$print-icon: url(../images/print-icon.png);
$bookmark-icon: url(../images/bookmark-icon.png);

$contact-icon: url(../images/contact-icon.png);
$menu-icon: url(../images/menu-icon.png);
$menu-icon-2: url(../images/menu-icon-2.png);

$fb-icon: url(../images/fb-icon.png);
$g-plus-icon: url(../images/g-plus-icon.png);
$twitter-icon: url(../images/twitter-icon.png);
$you-tube-icon: url(../images/you-tube-icon.png);
$rss-icon: url(../images/rss-icon.png);

$autocomplete: url(../images/autocomplete.png);
$autocomplete-active: url(../images/autocomplete-active.gif);
$autocomplete-violet: url(../images/autocomplete-violet-25x25.png);
$autocomplete-turquoise-pastel: url(../images/autocomplete-turquoise-pastel-25x25.png);
$autocomplete-active-violet: url(../images/autocomplete-active-violet-25x25.gif);

$twitter-icon: url(../images/social-icons/twitter-icon-58x58.png);
$github-icon: url(../images/social-icons/github-icon-58x58.png);
$gplus-icon: url(../images/social-icons/gplus-icon-58x58.png);
$linkedin-icon: url(../images/social-icons/linkedin-icon-58x58.png);
$rss-icon: url(../images/social-icons/rss-icon-58x58.png);
$youtube-icon: url(../images/social-icons/youtube-icon-58x58.png);
$fb-icon: url(../images/social-icons/fb-icon-58x58.png);
